Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*fastq
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*sam
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*bam
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*bai
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/reference*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/coveragedata/genomecoverage*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/coveragedata/CR*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/P1260*
00_ReferenceGenome/
03_Assembly/
04_Validation/
05_Final_Assembly/
RNAseq_data/
Work_files/mahesha_assemblies_workfolder/P1*
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/GCF_000146045.2_R64_genomic.fna
Work_files/rawdata_workfolder/VarScan/*.bam
Work_files/rawdata_workfolder/VarScan/Deha_goodmaps.mpileup
Work_files/rawdata_workfolder/VarScan/GCA_000006445.2_ASM644v2_genomic.fna
Work_files/rawdata_workfolder/VarScan/GCA_000006445.2_ASM644v2_genomic.fna.fai
Work_files/rawdata_workfolder/VarScan/VarScan_mpileup2cns_Deha
data_references/
Work_files/rawdata_workfolder/raw_reads/
Work_files/reference/*.fna
Work_files/reference/*.faa
Work_files/reference/*.gff
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.sam
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.fastq
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.bt2
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.fna
Work_files/mahesh_assemblies_workfolder/Assemblies/
Work_files/kraken_dbs/*
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.Arc
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.ContigIndex
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.bubbleInScaff
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.contig
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.contigPosInscaff
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.edge.gz
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.gapSeq
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.kmerFreq
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.links
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.markOnEdge
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.newContigIndex
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.path
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.peGrads
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.preArc
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.preGraphBasic
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.readInGap.gz
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.readOnContig.gz
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.scaf
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.scafSeq
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.scafStatistics
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.scaf_gap
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.updated.edge
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1006_SOAPdenovo_k31.vertex
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.Arc
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.ContigIndex
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.bubbleInScaff
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.contig
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.contigPosInscaff
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.edge.gz
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.gapSeq
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.kmerFreq
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.links
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.markOnEdge
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.newContigIndex
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.path
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.peGrads
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.preArc
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.preGraphBasic
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.readInGap.gz
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.readOnContig.gz
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.scaf
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.scafSeq
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.scafStatistics
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.scaf_gap
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.updated.edge
Work_files/merce_assemblies_workfolder/06_and_12_first_test/1012_SOAPdenovo_k25.vertex
Work_files/rawdata_workfolder/PreQC/1012_k25.err
Work_files/rawdata_workfolder/PreQC/1012_k25.log

/Work_files/Only_Debaryomyceshansenii/*.bam
/Work_files/Only_Debaryomyceshansenii/Hybrids/*.bam
/Work_files/Only_Debaryomyceshansenii/Others/*.bam
/Work_files/Only_Debaryomyceshansenii/Sc/*.bam
/Work_files/Only_Debaryomyceshansenii/Variant_calling/post_freebayes/VCF/*
