Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*fastq
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*sam
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/reference*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/coveragedata/genomecoverage*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/coveragedata/CR*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/P1260*
Work_files/rawdata_workfolder/VasScan/*.bam
Work_files/rawdata_workfolder/VasScan/*.fna
