Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*fastq
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*sam
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*bam
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/*bai
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/reference*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/coveragedata/genomecoverage*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/coveragedata/CR*
Work_files/rawdata_workfolder/Bowtie2mapping_CBS767reference/P1260*
00_ReferenceGenome/
03_Assembly/
04_Validation/
05_Final_Assembly/
RNAseq_data/
Work_files/mahesha_assemblies_workfolder/P1*
Work_files/rawdata_workfolder/Bowtie2mapping_S288c/GCF_000146045.2_R64_genomic.fna
Work_files/rawdata_workfolder/VarScan/*.bam
Work_files/rawdata_workfolder/VarScan/Deha_goodmaps.mpileup
Work_files/rawdata_workfolder/VarScan/GCA_000006445.2_ASM644v2_genomic.fna
Work_files/rawdata_workfolder/VarScan/GCA_000006445.2_ASM644v2_genomic.fna.fai
Work_files/rawdata_workfolder/VarScan/VarScan_mpileup2cns_Deha
data_references/
Work_files/rawdata_workfolder/raw_reads/
Work_files/reference/*.fna
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.sam
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.fastq
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.bt2
Work_files/rawdata_workfolder/Bowtie2mapping_ATCC6260/*.fna
Work_files/mahesha_assemblies_workfolder/Assemblies/
Work_files/kraken_dbs/*
